@model CarBook.Dto.BlogDtos.ResultGetAuthorByBlogIdDto

    <div class="about-author d-flex p-4 bg-light">
        <div class="bio mr-5">
            <img src="@Model.authorImageUrl" alt="Image placeholder" class="img-fluid mb-4">
        </div>
        <div class="desc">
            <h3>@Model.authorName</h3>
            <p>@Model.authorDescription</p>
        </div>
    </div>

