@model CarBook.Dto.AboutDtos.CreateAboutDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Yeni Hakkımda Bilgisi Ekleme</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Paneller</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hakkımda Alanı Yönetim Paneli</a></li>
                            <li class="breadcrumb-item active">Hakkımda Bilgisi Ekle</li>
                        </ol>
                    </div>
                                
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-xl-12">
                 <div class="card">
                     <div class="card-body">
                    
                                    <h4 class="card-title">Yeni Hakkımda Bilgisi Girişi</h4>
                                    <p class="card-subtitle mb-4">Yeni bir hakkımda bilgisi eklemek için aşağıdaki form üzerinden bilgileri girip <strong>"Hakkımda Bilgisi Oluştur"</strong> tuşuna basınız.</p>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        Hakkımda bilgisi girişi yapılırken mevcut tema bütünlüğünü korumak için, yeni oluşturacağınız hakkımda bilgisini oluşturduktan sonra mevcuttaki hakkımda bilgisini kaldırmanız gerekmektedir.
                                        Aksi takdirde tema bütünlüğü bozulacaktır!
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        Görüntü URL girilirken mevcut formatın dosya yolu formatında olması gerekmektedir!
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post">
                                       
                                        <div class="form-group">
                                            <label for="Title">Başlık</label>
                                            <input type="text" class="form-control" id="Title" asp-for="title" placeholder="Başlık adını giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label for="Desc">Açıklama</label>
                                            <input type="text" class="form-control" id="Desc" asp-for="description" placeholder="Açıklama giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label for="VideoUrl">Görüntü URL</label>
                                            <input type="text" class="form-control" id="VideoUrl" asp-for="imageUrl" placeholder="Görüntü URL'ini giriniz...">
                                        </div>
                                       
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Hakkımda Bilgisi Oluştur</button>
                                    </form>
                    
                                </div> <!-- end card-body-->
                     </div> <!-- end card-->
            </div>
        </div>
       

    </div> <!-- container-fluid -->
</div>
