@model CarBook.Dto.FooterAddressDtos.UpdateFooterAddressDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Alt Alan (Footer) Bilgisi Güncelleme</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Paneller</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Alt Alan (Footer) Alanı Yönetim Paneli</a></li>
                            <li class="breadcrumb-item active">Alt Alan (Footer) Bilgisi Güncelleme</li>
                        </ol>
                    </div>
                                
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-xl-12">
                 <div class="card">
                     <div class="card-body">
                    
                                    <h4 class="card-title">Alt Alan (Footer) Bilgisi Düzenleme</h4>
                                    <p class="card-subtitle mb-4">Var olan bir alt alan (footer) bilgisi eklemek için aşağıdaki form üzerinden bilgileri girip <strong>"Alt Alan (Footer) Bilgisi Güncelle"</strong> tuşuna basınız.</p>
                                    
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        Mevcut alt alan (footer) bilgisi tek bir kayıt olarak giriş yapılmalıdır. Mevcutta bir kayıt yok ise yeni kayıt oluşturmalısınız. Aksi takdirde ana sayfada bilgiler
                                        görüntülenir ve tema bütünlüğü bozulmaktadır.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post">
                                        <input type="hidden" asp-for="footerAddressId"/>
                                        <div class="form-group">
                                            <label for="desc">Footer Açıklama</label>
                                            <input type="text" class="form-control" id="desc" asp-for="description" placeholder="Açıklama giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label for="Address">Footer Adres</label>
                                            <input type="text" class="form-control" id="Address" asp-for="address" placeholder="Adres giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label for="PhoneNumber">Telefon Numarası</label>
                                            <input type="tel" class="form-control" id="PhoneNumber" asp-for="phoneNumber" placeholder="Telefon numarası (+90 (xxx) xxx xx xx) formatı olacak şekilde giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label for="Email">Email Adresi</label>
                                            <input type="email" class="form-control" id="Email" asp-for="email" placeholder="Email adresi giriniz...">
                                        </div>

                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Alt Alan (Footer) Bilgisi Güncelle</button>
                                    </form>
                    
                                </div> <!-- end card-body-->
                     </div> <!-- end card-->
            </div>
        </div>
       

    </div> <!-- container-fluid -->
</div>
