@model CarBook.Dto.LocationDtos.UpdateLocationDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Konum Bilgisi Güncelleme</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Paneller</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Konum Ayarları Yönetim Paneli</a></li>
                            <li class="breadcrumb-item active">Konum Bilgisi Güncelleme</li>
                        </ol>
                    </div>
                                
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-xl-12">
                 <div class="card">
                     <div class="card-body">
                    
                                    <h4 class="card-title">Konum Bilgisi Düzenleme</h4>
                                    <p class="card-subtitle mb-4">Var olan bir konum bilgisi eklemek için aşağıdaki form üzerinden bilgileri girip <strong>"Konum Bilgisi Güncelle"</strong> tuşuna basınız.</p>
                                    
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        Mevcut konum bilgisi tek bir kayıt olarak giriş yapılmalıdır. Mevcutta bir kayıt yok ise yeni kayıt oluşturmalısınız. Aksi takdirde ana sayfada bilgiler
                                        görüntülenir ve tema bütünlüğü bozulmaktadır.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post">
                                        <input type="hidden" asp-for="LocationId"/>
                                        <div class="form-group">
                                            <label for="Name">Konum Adı</label>
                                            <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Konum adı giriniz...">
                                        </div>


                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Konum Bilgisi Güncelle</button>
                                    </form>
                    
                                </div> <!-- end card-body-->
                     </div> <!-- end card-->
            </div>
        </div>
       

    </div> <!-- container-fluid -->
</div>
