@model CarBook.Dto.FeatureDtos.UpdateFeatureDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Araç Özelliği Güncelleme</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Paneller</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Araç Özellikleri Yönetim Paneli</a></li>
                            <li class="breadcrumb-item active">Özellik Güncelleme</li>
                        </ol>
                    </div>
                                
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-xl-12">
                 <div class="card">
                     <div class="card-body">
                    
                                    <h4 class="card-title">Araç Özelliği Düzenleme</h4>
                                    <p class="card-subtitle mb-4">Varolan bir araç özelliğini güncellemek için aşağıdaki form üzerinden bilgileri girip <strong>"Özelliği Kaydet"</strong> tuşuna basınız.</p>

                                    <form method="post">
                                        <input type="hidden" asp-for="FeatureId"/>
                                        <div class="form-group">
                                            <label for="Name">Özellik</label>
                                            <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Özelliğin adını giriniz...">
                                        </div>

                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Kaydet</button>
                                    </form>
                    
                                </div> <!-- end card-body-->
                     </div> <!-- end card-->
            </div>
        </div>
       

    </div> <!-- container-fluid -->
</div>

